* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #1e1c2a;
  color: #7ca7c2;
  font-family: "DotGothic16", sans-serif;
}
/* utilities */

/* Code adapted from (Brejish, n.d.) */
/* Columns and rows */
.row div {
  padding: 3%;
  color: white;
}
/* 1/12 */
.col-1 {
  width: 8.33%;
}
/* End of adapted code */

/* Button */
.btn-primary {
  display: inline-block;
  background: #4c6ca0;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-family: "DotGothic16", sans-serif;
}

.btn-primary:hover {
  color: #f4f4f4;
  background: #7da8ee;
}

/* Wrapper adapted from  (Kosev, 2017)*/
.main-wrapper {
  margin-right: auto;
  margin-left: auto;
  max-width: 960px;
  padding-right: 5rem;
  padding-left: 5rem;
}
/* End of adapted code */
/* Code adapted from  (Responsive Nav Bar Tutorial | HTML CSS JS Flexbox Navigation Menu, 2019) */
nav {
  padding: 5px 20px;
}
ul {
  list-style-type: none;
}
.menu li {
  font-size: 1.5rem;
  padding: 0.5rem 0.25rem;
  margin-left: 1rem;
}
.menu li a {
  display: block;
}
.logo img {
  height: 4rem;
  margin-left: 0;
}
.logo a {
  max-width: 20%;
}
/* Mobile first*/
.menu {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.toggle {
  order: 1;
}
.item {
  width: 100%;
  text-align: center;
  order: 2;
  display: none;
  font-size: 0.5rem;
}
.item a {
  color: #7dbac5;
  text-decoration: none;
  padding-left: 0.25rem;
}
.item a:hover {
  text-decoration: underline;
}
.item.active {
  display: block;
}
.current {
  text-decoration: underline;
}

/* Create hamburger icon */
.toggle {
  cursor: pointer;
}
.bars {
  background: #999;
  display: inline-block;
  height: 2px;
  position: relative;
  width: 18px;
}
.bars::before,
.bars::after {
  background: #999;
  content: "";
  display: inline-block;
  height: 2px;
  position: absolute;
  width: 18px;
}
.bars::before {
  top: 5px;
}
.bars::after {
  top: -5px;
}
/* End of adapted code */

/* Homepage */
/* Splash section */
.splash-box {
  background: url("/img/splash.jpg") no-repeat center;
  background-size: contain;
  height: 100vh;
  width: auto;
  text-align: center;
  color: #fff;
}
.header-content {
  text-align: center;
  display: inline-block;
  margin-top: 1.5%;
  font-family: "DotGothic16", sans-serif;
  color: #026daf;
}

/* Text area */
.text-description {
  margin-top: 5%;
  color: white;
  margin-bottom: 2%;
  text-align: center;
  font-size: 1.25rem;
  font-family: "Shippori Mincho", serif;
}
.text-description p {
  text-align: center;
  padding-top: 2.5%;
}
.btn-primary {
  margin: 2rem 0rem;
  text-decoration: none;
}

.slides-dots {
  text-align: center;
}

/* Code adapted from (Surdakowski, 2020)*/

.video-container {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 30px;
  height: 0;
  overflow: hidden;
  margin: 2.5rem 0rem;
}

.video-container iframe,
.video-container object,
.video-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: none;
}
/* End of adapted code */
/* Typing resources */
.resource-box {
  border-top: #026daf solid 2px;
}
.resource-box:last-child {
  padding-bottom: 4rem;
}
.resource-box a {
  text-decoration: none;
  color: white;
}
.resource-box a:hover {
  text-decoration: underline;
  color: #026daf;
}
.link-title {
  text-align: center;
}
/*Media Gallery*/
.title {
  text-align: center;
  padding-bottom: 1rem;
}
.media-title {
  padding-bottom: 2rem;
}
.media-title-vid {
  padding-top: 1rem;
}

/* Contact form */
form {
  padding-bottom: 2.75rem;
}
.intro {
  text-align: center;
  padding-bottom: 1rem;
}
.contact-form {
  display: flex;
  max-width: 50%;
  margin: auto;
  flex-direction: column;
}
input {
  width: 100%;
}
#message {
  width: 100%;
  min-height: 12rem;
}
.send {
  background-color: rgb(27, 171, 200);
  color: white;
  border: none;
  font-family: "DotGothic16", sans-serif;
}
.la-envelope {
  padding-left: 0.5rem;
}
/* Footer  */
footer {
  color: #7ca7c2;
  text-align: center;
  padding: 1rem 0rem;
  width: 100%;
  font-family: "DotGothic16", sans-serif;
  border-top: 1px solid #7ca7c2;
}
footer a {
  text-decoration: none;
  color: aliceblue;
}
footer a:hover {
  text-decoration: underline;
}
footer p {
  padding-top: 1rem;
  font-size: 00.75rem;
}
.shrug {
  color: green;
  font-family: "Times New Roman", Times, serif;
  font-size: 1rem;
}
/* To keep footer at bottom of contact page */
.contact {
  position: absolute;
  bottom: 0;
}
.contact-form {
  padding-bottom: 2rem;
}

.la-igloo {
  padding-left: 0.25rem;
}

/* Media quieries */
/* moblile  */

@media all and (max-width: 425px) {
  .main-wrapper {
    margin-right: auto;
    margin-left: auto;
    max-width: 960px;
    padding-right: 1rem;
    padding-left: 1rem;
  }
  .menu {
    justify-content: center;
  }
  .logo {
    flex: 1;
  }

  .splash-box {
    height: 65vh;
  }
  .item {
    border-bottom: #fff solid 0.5px;
  }
  .footer,
  p {
    padding: 0rem 0.5rem;
  }
  #message {
    min-height: 5rem;
  }
}
/* Tablet */
@media all and (max-width: 768px) {
  .contact-form {
    max-width: 100%;
  }
  #message {
    min-height: 8rem;
  }
}

/* Desktop Nav media query  */
/* Code adapted from  (Responsive Nav Bar Tutorial | HTML CSS JS Flexbox Navigation Menu, 2019)  */

@media all and (min-width: 1250px) {
  .item {
    display: block;
    width: auto;
    font-size: 1rem;
  }
  .toggle {
    display: none;
  }
  .padding li {
    padding: 0.75rem 0.5rem;
  }
}
/* End of adapted code */
